fastapi>=0.115.0
uvicorn>=0.30.0
pyyaml>=6.0.1
python-multipart>=0.0.9
pymupdf
chromadb
langchain
langchain_core
langchain-text-splitters
python-docx
requests
sentence-transformers
langgraph
jieba
rank_bm25
loguru
httpx
arize-phoenix
openinference-instrumentation-langchain
openpyxl
pytest>=8.0.0
